
<div data-controller="dropdown" class="absolute top-1 left-1 size-16">
  <button id="dropdownHoverButton"
    class="text-black border border-black bg-transparent hover:bg-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button"
    data-action="mouseover->dropdown#show mouseleave->dropdown#hide"
  >
    <i class="fa-solid fa-headphones"></i>
  </button>

  <div id="dropdownHover"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-48 dark:bg-gray-700"
    data-action="mouseenter->dropdown#show mouseleave->dropdown#hide"
  >
<%# test search  %>
    <div data-controller="dropdown-search" class="p-3 w-48">
      <label for="input-group-search" class="sr-only">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>

        <%= simple_form_for :search, url: root_path, method: :get, html: { class: "relative" } do |f| %>
          <%= f.input :query, label: false, placeholder: "Film ou une série",
                      class: "block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                      data: { action: "input->dropdown-search#filter" } %>
          <%= f.submit "Rechercher", class: "hidden" %>
        <% end %>
      </div>
    </div>
<%# fin test search %>

<div data-controller="dropdown">
  <button id="dropdownHoverButton"
    class="flex justify-between w-full text-white bg-white-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-white-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center dark:bg-white-600 dark:hover:bg-white-700 dark:focus:ring-white-800"
    type="button"
    data-action="mouseover->dropdown#show mouseleave->dropdown#hide"
  >
    <span>Favoris</span>
    <i class="fa-solid fa-caret-down ml-2"></i>
  </button>

    <div id="dropdownHover"
      class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-48 dark:bg-gray-700"
      data-action="mouseenter->dropdown#show mouseleave->dropdown#hide"
    >

      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
        <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Titre 1</li>
        <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Titre 2</li>
        <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Titre 3</li>
        <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Titre 4</li>
      </ul>
    </div>
  </div>
</div>
</div>