<div class="show-container">
  <div class="show-card"
       data-controller="draggable show"
       data-action="mousedown->draggable#startDrag click->show#open"
       data-show-index-value="0">
    <div class="front">
      <img src="<%= show.poster_url %>" alt="<%= show.name %>" class="show-poster">
    </div>
    <div class="back">
      <%= render partial: "shared/player", locals: { show: show, songs: songs } %>
    </div>
  </div>
</div>