
<%= render partial: 'shared/navbar' %>
  <section data-controller="player" class="jackets">
    <% @shows.each do |show| %>
      <%= render partial: 'shared/show_card', locals: { show: show, songs: show.playlist ? show.playlist.tracks : [] } %>
    <% end %>
</section>
