<h1>FLEAKBEATS</h1>

<%= render partial: 'shared/dropdown_menu' %>

<div class="show-container">
<section>
  <% @shows.each do |show| %>
    <%= render partial: 'shared/show_card', locals: { show: show } %>
  <% end %>
</section>
</div>
