
<%= render partial: 'shared/toggle_switch' %>

  <section data-controller="player" class="flex" style:"perspective: 1000px;">
    <% @shows.each do |show| %>
      <%= render partial: 'shared/show_card', locals: { show: show, songs: show.playlist.tracks } %>
    <% end %>
</section>
