<section data-controller="player">
  <%= render partial: 'shared/navbar' %>

  <!-- Player en haut -->
  <div id="focus" class="" data-show-target="focus"></div>
  <!-- Conteneur flex pour les scrollers -->
  <div class="scrollers-container">
    <!-- Scroll à droite -->
    <div class="jackets scroller scroller-left" data-direction="right" data-speed="slow" data-controller="scroller">
      <div class="scroller_inner">
        <% @shows.shuffle.each do |show| %>
          <%= render partial: 'shared/show_card', locals: { show: show, songs: show.playlist ? show.playlist.tracks : [] } %>
        <% end %>
      </div>
    </div>


    <!-- Scroll à droite -->
    <div class="jackets scroller scroller-right" data-direction="right" data-speed="slow" data-controller="scroller">
      <div class="scroller_inner">
        <% @shows.shuffle.each do |show| %>
          <%= render partial: 'shared/show_card', locals: { show: show, songs: show.playlist ? show.playlist.tracks : [] } %>
        <% end %>
      </div>
    </div>
  </div>
</section>



<%# <div class="jackets scroller" data-direction="right" data-speed="slow"> %>
