<video id="background-video" autoplay loop muted>

<source src="https://videos.pexels.com/video-files/3141207/3141207-sd_640_360_25fps.mp4" type="video/mp4">

</video>

  <div class="min-h-0 flex-1 flex overflow-hidden">

      <nav aria-label="Sidebar" class="hidden lg:block flex-shrink-0 overflow-y-auto">

          <div class=" sidebar relative w-20 flex space-y-5 flex-col p-3">

              <a href="#" class="text-gray-400 hover:text-red-700">
                  <div class="flex-shrink-0 inline-flex items-center justify-center w-14">
                      <i class="fa fa-search"></i>
                  </div>
                  <div class="text-center text-xs font-normal "></div>
              </a>

              <a href="#" class="text-gray-400 hover:text-red-700">
                  <div class="flex-shrink-0 inline-flex items-center justify-center w-14">
                      <i class="fa fa-heart"></i>
                  </div>
                  <div class="text-center text-xs font-normal "></div>
              </a>

              <a href="#" class="text-gray-400 hover:text-red-700">
                  <div class="flex-shrink-0 inline-flex items-center justify-center w-14">
                      <i class="fa fa-film"></i>
                  </div>
                  <div class="text-center text-xs font-normal "></div>
              </a>

          </div>
      </nav>
  </div>

  <div class="min-h-screen flex items-center justify-center">
    <%= image_tag('téléchargement.jpeg') %>
  </div>
