.show-card {
  display: flex;
  width: 160px;
  height: 100px; //modifier agrandi la card verso
  transform-style: preserve-3d;
  transition: transform 0.6s;
  margin: 10px;
}

// .show-card.flipped {
//   transform: rotateY(180deg); /* On garde juste la rotation */
// }



// // modification scroller infinite
// .jackets {
//   display: flex; /* Aligne horizontalement */
//   gap: 50px; /* Ajoute un petit espace entre les cartes */
//   justify-content: flex-start; /* Alignement à gauche */
//   flex-wrap: wrap;
// }

.scroller {
  max-width: 100vw;
  padding: 100px;
}


.scroller_inner {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding-block: 1rem;
}


// mask : ça met un mask autour, 90deg droite et gauche ou les modif se feront, en ajoutant 20 et 80% pour floutter debut et fin
.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%);
  mask: linear-gradient(90deg,transparent, white 20%, white 80%, transparent);
}



.scroller[data-animated="true"] .scroller_inner {
  width: max-content;
  flex-wrap: nowrap;
  animation:
    scroll
    var(--_animation-duration, 40s)
    var(--_animation-direction, forwards)
    linear
    infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 120s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}



// TEST

/* On fixe l'affichage du verso hors du scroll */

/* On fixe le verso pour qu'il s'affiche bien */


/* Cache uniquement le recto quand la carte est retournée */
.show-card.flipped .front {
  display: none;
}

/* Empêche le verso de disparaître après la rotation */
.show-card .back {
  display: none; /* Par défaut caché */
}

.show-card.flipped .back {
  display: flex !important; /* On force son affichage */
}

/* Désactive tout effet qui pourrait masquer le verso */
.show-card > .back {
  backface-visibility: visible !important; /* Assurer que le verso reste visible */
}


/* Player en haut */
#focus {
  width: 100%;
  // min-height: 650px; /* Ajuste la hauteur du player selon tes besoins */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px; /* Ajoute un espace entre le player et le scroll */
}

/* Scroll infini en dessous */
.jackets.scroller {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
