#bg1 {
  background:
		url("century.gif")
			5%/ cover /*choose color*/;
	background-blend-mode: multiply;
}

#bg2 {
  background:
		url("Design.gif")
			5%/ cover rgb(109, 109, 249);
	background-blend-mode: multiply;
}

#bg3 {
  background:
		url("space.gif")
			5%/ cover /*choose color*/;
	background-blend-mode: multiply;
}
