.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text {
  font-size:26px;
  color:white;
  text-shadow: rgb(55, 255, 0) 5px 3px 10px;
}

